<html>
<head>
    <title> Tax Assessment</title>

</head>
<Body>

    <div class="">
        <h1>Married Tax</h1>

        <h3>Wife tax pay:${{Tax_wife_pay}}</h2>
        <h3>Husband tax pay:${{Tax_husband_pay}}</h2></p>
        <p><h3>Total tax payable(Seperate):${{total_pay}}</h3>
            <h3>Joint Assessment(progressive):${{total_tax}}</h3>
            <h3>Joint Assessment(standard):${{total_standard_tax}}</h3>
        <p><h3>Lowest total Joint assessment tax payable:${{Tax_total_pay}}</h3>
        <h1>Lowest tax payable: ${{Lowest_tax}}</h1>
        
        
    </div>
    
</Body>
</html>